<!-- ol: lista ordenada
<ol class="list-unstyled row">
  <li *ngFor="let photo of photos" class="col-4">
    <app-photo
      [url]="photo.url"
      [description]="photo.description">
</app-photo>
  </li>
</ol>

 -->

 <!-- accesibilidade -->
 <!-- placeholder: indica o que ele faz -->
 <!-- autofoucus: ganha um foco assim que a página é carregada -->
 <!-- keyup: estou pegando o valor do input e jogando na propriedade filter -->
 <div class="text-center mt-3 mb-3">
   <form>
     <input class="rounded"
     type="search"
     placeholder="search..."
     autofocus
     (keyup)="debounce.next($event.target.value)">
   </form>
 </div>
 <!-- pipe: é um tubo
 {{nome | uppercase}} -->

<ap-photos [photos]="photos | filterByDescription : filter"></ap-photos>

