<!--
   Diretiva: consegue mudar um comportamento de um componente já existente
    ** ngFor="": vc quer iterar sobre quem. Vc que referciar photos por qual nome ()
-->
<!-- preciso fazer o dataBinding para pegar o valor do componente -->
<app-photo *ngFor="let photo of photos" [url]="photo.url" [description]="photo.description"></app-photo>
<!-- <app-photo url="../assets/c011dc29f7b4cac6f72c3aa93f2d65ea.jpg" description="noite brilhante"></app-photo> -->

<!-- alt: descrição da imagem -->
<!-- expression {{}} é usado entre as tags; oneWay dataBinding ([]) é usado para atributos. A
  fonte de dados sai do componente para o template -->
<!-- <h1>{{title}}</h1>
<img class="img-thumbnail" [src]="url" [alt]="description"> -->
